<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="CardIOPGPlugin"
        version="1.0.0">

    <name>CardIOPGPlugin</name>

    <asset src="CardIOPGPlugin.js" target="CardIOPGPlugin.js" />

   
    <!-- ios -->
    <platform name="ios">
        <config-file target="res/xml/config.xml" parent="widget">
            <feature name="CustomCordovaPlugin">
                <param name="ios-package" value="CardIOPGPlugin" />
            </feature>
        </config-file>

        <header-file src="CardIOPGPlugin.h" />
        <source-file src="CardIOPGPlugin.m" />
    </platform>
</plugin>


<!--
<?xml version="1.0" encoding="utf-8"?>
<plugins>
    <plugin name="CardIOPGPlugin" value="CardIOPGPlugin"/>
    
</plugins>-->
